.Home {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  width: 80%;
  margin: 0 auto;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .Home {
    grid-template-columns: 1fr;
  }
}
