.Login {
  display: flex;
  justify-content: center;

  margin-top: 130px;
}

.LoginBox {
  width: 350px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.LoginBox * {
  width: 100%;
}

.Login-id,
.Login-password {
  border: none;
  border-bottom: 1px solid black;
  appearance: none;
  outline: none;
  margin-top: 25px;
}

.Login-button {
  background-color: #166baa;
  color: white;
  border-radius: 30px;

  margin-top: 25px;
  padding: 10px;
  border: none;
}

.Login-submit {
  display: flex;
  justify-content: space-between;
  color: #1860ff;

  margin-top: 12px;
}

.login-search {
  text-align: start;
}

.login-join {
  text-align: end;
}
