.ProductDetail {
  display: flex;
  justify-content: center;

  gap: 20px;
  margin-right: 100px;
}

.ProductDetail img {
  width: 330px;
}

.Product-info {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.choice-none {
  display: none;
}

.add-button {
  width: 300px;

  border: none;

  background-color: black;
  color: white;
}

@media screen and (max-width: 768px) {
  .ProductDetail {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
  }
  .ProductDetail img {
    width: 100%;
  }
}
