.Navbar {
  margin-bottom: 20px;
}

.Nav-bars {
  display: none;
  position: absolute;
  left: 20px;
}

.login-button {
  display: flex;
  justify-content: flex-end;

  margin-top: 30px;
  margin-right: 50px;
  gap: 10px;

  cursor: pointer;
}

.login-icon {
  margin-top: 5px;
}

.nav-section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.nav-logo {
  cursor: pointer;
}

.menu-area {
  display: flex;
  justify-content: center;
}

.menu-bar {
  display: flex;
  gap: 25px;
}

.menu-search {
  position: absolute;
  right: 20px;
  display: flex;
  flex-direction: column;
}

.search-top {
  display: flex;
  margin-bottom: 3px;
}

.search-button {
  padding-top: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.search-input {
  border: none;
  appearance: none;
  outline: none;
}

.divider {
  flex-basis: 1px;
  width: 150px;
  background-color: black;
}

@media screen and (max-width: 1100px) {
  .menu-area {
    display: none;
  }

  .Nav-bars {
    display: block;
  }
}
