.SideBar {
  z-index: 2;

  text-align: right;

  position: fixed;
  background-color: #deb887;

  top: 0;
  left: 0;
  width: 250px;
  height: 100%;

  transform: translate(-250px, 0);
  transition: 0.5s;
}

.close {
  font-size: 30px;
  height: 52px;
  text-align: right;

  padding-right: 30px;
}

.menu-category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.menu-category button {
  width: 120px;
  background-color: transparent;
}

.menu-category button:hover {
  background-color: beige;
  cursor: pointer;
}
